:root {
    /* --primary-color: #439093; */
    --primary-color: #6c8976;
    --secondary-color: #e6eFe6;
    background: var(--primary-color)
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}