:root {
    --primary-color: #6c8976;
    --secondary-color: #e6eFe6;
    --tertiary-color: #594f4f;
    background: var(--primary-color)
}

body {
    display: grid;
    grid-template-rows: 100px auto;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

.weather-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: 50px 380px 170px;
    width: clamp(300px, 60%, 400px);
    height: 600px;
    background-color: var(--tertiary-color);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.weather-header {
    padding-inline: 10px;
    display: grid;
    grid-template-columns: 30px auto 120px;
    align-items: center;
    font-size: 25px;
}

.material-symbols-outlined {
    scale: 30px;
    justify-self: end;
}

time {
    justify-self: end;
}

.current-weather {
    background-color: var(--secondary-color);
    box-shadow: 0 -1px black;
    padding-block: 10px;
    display: grid;
    grid-template-rows: 80% auto;
    justify-items: center;
    font-size: 50px;
}

.current-weather svg{
    aspect-ratio: 1;
    width: 80%;
}

.forecast-container {
    box-shadow: 0 -1px black;
    display: grid;
    grid-template-columns: clamp(60px, 90px, 90px) var(--seperator-width) clamp(60px, 90px, 90px) var(--seperator-width) clamp(60px, 90px, 90px) var(--seperator-width) clamp(60px, 90px, 90px);
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    font-size: 25px;
    --seperator-width: 1px;
}

.forecast-seperator {
    height: 70%;
    width: var(--seperator-width);
    background-color: black;
}

.day-container {
    width: clamp(60px, 90px, 90px);
    justify-items: center;
    align-items: center;
}

.day-container svg{
    height: 30px;
    width: 30px;
}